In [1]:
import re

In [2]:
a = "Hello I am in 7 oct 1978 what about you "

In [3]:
a.find("7 oct 1978")

14

In [4]:
a.find("Hello")

0

In [5]:
txt = "The rain in Spain"

In [6]:
len(txt)

17

In [7]:
x = re.search("^The.*Spain$",txt)

In [8]:
x

In [9]:
r = """I am a rupali my contact no 6573428901 you can contact me on this number"""

In [10]:
pattern = "\d\d\d\d\d\d\d\d\d\d"

In [11]:
re.search(pattern,r)

In [12]:
re.findall(pattern,r)

['6573428901']

In [13]:
# re.findall(pattern,u)

In [14]:
r = """I am a rupali my contact no 6573428901 you can contact me on this 6573428901 number"""

In [15]:
re.findall(pattern,r)

['6573428901', '6573428901']

In [16]:
pattern1 = "\d+"

In [17]:
re.findall(pattern1,r)

['6573428901', '6573428901']

In [18]:
# access only 10 numbers in a string
r1 = """I am a rupali my contact no 657342890134 you can contact me on this 43567457373882 number"""
pattern2 = "\d{10}"
re.findall(pattern2,r1)

['6573428901', '4356745737']

In [19]:
r2 = """I am a rupali my contact no 657342890134 you can contact me on this number is (123)-456-7890"""
pattern3 = "\(\d{3}\)-\d{3}-\d{4}"
re.findall(pattern3,r2)

['(123)-456-7890']

In [20]:
r3 = """Note 1 - Overview 
Tesla,Inc. ("Tesla",the "Company","we","us" or "our") was incorporate in the State of
Delaware on
Note 2 - Summary of significant Accounting Policies
Unaaudited Interim Financial Statements
The consolidateed balance sheet as of September 30,2021, the consolidated statement of
operation, the comprehensive income, the consolidated statment of redeemable noncontroling
interest and equility for the three and nine months ended September 30,2021 and 2020 """

In [21]:
pattern4 = "Note \d - ([^\n]+)"

In [22]:
re.findall(pattern4,r3)

['Overview ', 'Summary of significant Accounting Policies']

In [23]:
r4 = """Abc's company has generated $50 million profit in FY2023 Q1 
while lastyear it was $222 billion FY2022 Q3"""

In [24]:
pattern5 = "FY\d{4} Q[1-4]"

In [25]:
re.findall(pattern5,r4)

['FY2023 Q1', 'FY2022 Q3']

In [26]:
pattern6 = "\$\d+ \w+"

In [27]:
re.findall(pattern6,r4)

['$50 million', '$222 billion']

In [28]:
r5 = """Abc's company has generated $50 million profit in FY2023 Q1 
while lastyear it was $222.548 billion FY2022 Q3 $50.77 million Q4"""

In [29]:
# access decimal point values/numbers
pattern7 = "\$[\d\.]+ \w+"

In [30]:
re.findall(pattern7,r5)

['$50 million', '$222.548 billion', '$50.77 million']

my order number is 122345
here is order number #122345
order #122345

In [31]:
r = """Hello i am having an issue with my order #4123452"""

In [32]:
r1 = """Hello i am having an issue with my order 4123452"""

In [33]:
r2 = """my order 4123452 is having an issue was charged 300$ when online it say 280$"""

In [34]:
pattern_1 = "my order \d+"

In [35]:
re.findall(pattern_1,r)

[]

In [36]:
pattern_2 = "my order\D\d+"
re.findall(pattern_2,r)

[]

In [37]:
re.findall(pattern_1,r2)

['my order 4123452']

In [38]:
r3 = """my order id 4123452 is having an issue was charged 300$ when online it say 280$"""
pattern = "my order [a-z]*\D\d+"
re.findall(pattern,r3)

['my order id 4123452']

In [39]:
r4 = """my order number 4123452 is having an issue was charged 300$ when online it say 280$"""
pattern = "my order [a-z]*\D\d+"
re.findall(pattern,r4)

['my order number 4123452']

In [40]:
# case sensitive
r5 = """Hello i am having an issue with my order number 4123452"""
pattern = "my order [a-z]\w+ \d+"
re.findall(pattern,r5)

['my order number 4123452']

In [41]:
# case insensitive
r6 = """Hello i am having an issue with my order number 4123452"""
pattern = "my order [A-Z\w]+ \d+"
re.findall(pattern,r6)

['my order number 4123452']

In [42]:
r7 = """Hello i am having an issue with my order number 4123452"""
pattern = "order [a-z]+ \d+"
re.findall(pattern,r7)

['order number 4123452']

In [43]:
info = """you ask lot of questions
1235678912 ab_sdc@x_z.com
here is is:(123)-567-8912,ab48aac@1to10.com
yes,phone: 1235678912 email: ab_sdc@x_z.com"""

In [44]:
pattern = ".[a-z]_[\Wa-z]+_[a-z].[a-z]{3}"
re.findall(pattern,info)

['ab_sdc@x_z.com', 'ab_sdc@x_z.com']